# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.13.2
backoff
requests
azure-eventhub==5.11.1
azure-storage-blob==12.13.1
