name: "Release New Version"

on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      ZIP_FILE_NAME: logscale_azure_function.zip
      DIR_NAME: azure_function_timer_trigger_code
      JSON_FILE_NAME: arm.json
    steps:
      - uses: actions/checkout@v2
      - name: Install more-utils
        run: sudo apt-get install moreutils
      - name: Set env
        run:  echo RELEASE_VERSION=${GITHUB_REF#refs/*/} >> $GITHUB_ENV && echo $RELEASE_VERSION
      - name: "Create ZIP"
        run: |
          apt-get install zip
          (cd ${{ env.DIR_NAME }} && zip -r ../${{ env.ZIP_FILE_NAME }} .)
      - name: Update the WEBSITE_RUN_FROM_PACKAGE token in the arm.json file.
        env: 
          URL: ${{ github.server_url }}/${{ github.repository }}/releases/download/${{ env.RELEASE_VERSION }}/${{ env.ZIP_FILE_NAME }}
        run: jq --arg url "$URL" '.resources[4].resources[0].properties.WEBSITE_RUN_FROM_PACKAGE=$url' ./arm_template/${{ env.JSON_FILE_NAME }} | sponge ${{ env.JSON_FILE_NAME }}
      - name: Create Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.ZIP_FILE_NAME }}
          asset_name: ${{ env.ZIP_FILE_NAME }}
          tag: ${{ env.RELEASE_VERSION }}
          overwrite: true
          body: "Automatic release. See changelog for updates"
      - name: Add ${{ env.JSON_FILE_NAME }} to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.JSON_FILE_NAME }}
          asset_name: ${{ env.JSON_FILE_NAME }}
          tag: ${{ env.RELEASE_VERSION }}
